* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Chakra Petch', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}


.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 80px;
  background-color: #838181;
  padding: 7px 16px;
  position: relative;
  z-index: 1000;
}

.header__logo {
  font-size: 2rem;
  position: relative;
  z-index: 1000;
}

.header__list {
  display: flex;
}

.header__list > *:not(:last-child) {
  margin: 0 7px 0 0;
}

.button {
  min-height: 40px;
  border-top: 2px solid #c9c9c9;
  border-left: 2px solid #c9c9c9;
  border-bottom: 2px solid #424242;
  border-right: 2px solid #424242;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
}

.button:active {
  border-bottom: 2px solid #c9c9c9;
  border-right: 2px solid #c9c9c9;
  border-top: 2px solid #424242;
  border-left: 2px solid #424242;

}

.header__burger {
  display: none;
  width: 40px;
  height: 40px;
  position: relative;
  z-index: 1000;
}

.header__burger:before,
.header__burger:after,
.header__burger span {
  content: '';
  height: 2px;
  width: 100%;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.2s linear;
}

.header__burger:after{ 
  top: 93%;
}

.header__burger span {
  top: 49%;
}

@media(max-width: 800px) {
  .header {
    min-height: 60px;
  }
}

@media(max-width: 600px) {
  .header__burger {
    display: block;
    background-color: #838181;
  }

  .header__burger.active span{
    display: none;
  }

  .header__burger.active:before,
  .header__burger.active:after  {
    top: 50%;
  }

  .header__burger.active:before {
    transform: rotate(135deg);
    transition: 0.2s linear;
  }

  .header__burger.active:after {
    transform: rotate(-135deg);
    transition: 0.2s linear;
  }

  .header__list {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(66, 66, 66, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header__list > *:not(:last-child) {
    margin: 0 0 1rem 0;
  }

  .header__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
  }

  .button {
    width: 100%;
    display: flex;
    justify-content: center;
  }

}

.table__item {
  width: 30px;
  height: 30px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1010;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-bottom: 10px solid #c9c9c9;
  border-right: 10px solid #c9c9c9;
  border-top: 10px solid #424242;
  border-left: 10px solid #424242;
}

.modal > *:not(:last-child) {
  margin: 0 0 1.5rem 0;
}

.modal__form > *:not(:last-child) {
  margin: 0 0 1.5rem 0;
}


.modal__title {
  text-decoration: underline;
}

.modal__button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.level > *:not(:last-child) {
  margin: 0 0 0.5rem 0;
}

.level__label {
  display: flex;
  width: 100%;
  justify-content: left;
}

.level__label input[type='radio'] {
  margin: 0 0.6rem 0 0;
}

/*------footer-------*/

.footer__autor {
  font-size: 0.5rem;
}

.footer__link {
  font-size: 0.5rem;
}